.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px 0 32px 0;
  margin: 0 auto;
  background: #f2f0f1;
  gap: 20px;
}
.hero-section-content {
  flex: 1;
  margin-left: 6rem;
}
.hero-section-title {
  font-size: 64px;
  font-weight: 900;
  max-width: 577px;
  line-height: 64px;
  letter-spacing: 0%;
  margin-bottom: 1.5rem;
  color: #000000;
}
.hero-section-desc {
  font-size: 16px;
  color: #0000006c;
  line-height: 22px;
  letter-spacing: 0%;
  margin-bottom: 2rem;
  font-weight: 400;
  max-width: 545px;
}
.hero-section-cta {
  background: #111;
  color: #fff;
  border: none;
  border-radius: 32px;
  padding: 0.9rem 2.2rem;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 2.5rem;
}
.hero-section-stats {
  display: flex;
  gap: 2.5rem;
  font-size: 16px;
  color: #0000006c;
  line-height: 22px;
  letter-spacing: 0%;
  font-weight: 400;
}
.hero-section-stats span {
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  font-weight: 700;
  padding: 0 20px;
  border-right: 1px solid #0000001e;
  color: #000000;
}
.hero-section-image img {
  width: 500px;
  height: 650px;
  border: none;
  border-radius: 18px;
  margin-bottom: -6%;
  margin-right: 3.2rem;
}
.hero-section .mini-image img {
  position: absolute;
  width: 104px;
  height: 104px;
  top: 220px;
  left: 1170px;
}
.hero-section .small-image img {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 431px;
  left: 750px;
}
@media (max-width: 1300px) {
  .hero-section-image img {
    width: 95vw;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 1px;
  }

  .hero-section .mini-image img {
    position: absolute;
    width: 76px;
    height: 76px;
    top: 180px;
    left: 1100px;
  }
  .hero-section .small-image img {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 500px;
    left: 641px;
  }
}
@media (max-width: 1200px) {
  .hero-section-content {
    margin-left: 0;
    text-align: center;
    width: 100%;
    padding: 0 1.2rem;
  }
  .hero-section-title {
    font-size: 36px;
    line-height: 34px;
    letter-spacing: 0%;
    width: 400px;
    height: 93px;
  }
  .hero-section-desc {
    font-size: 1rem;
    line-height: 1.5rem;
    max-width: 100%;
    margin-bottom: 1.2rem;
  }
  .hero-section-cta {
    width: 22%;
    font-size: 1rem;
    padding: 0.8rem 0;
    margin-bottom: 1.5rem;
    margin-left: -50%;
  }
  .hero-section-stats {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
    font-size: 0.95rem;
  }
  .hero-section-stats span {
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 700;
    padding: 0 10px;
    border-right: 1px solid #0000001e;
    color: #000000;
  }
  .hero-section-image img {
    width: 90vw;
    max-width: 320px;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 1px;
  }

  .hero-section .mini-image img {
    position: absolute;
    width: 76px;
    height: 76px;
    top: 180px;
    left: 930px;
  }
  .hero-section .small-image img {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 340px;
    left: 641px;
  }
}

@media (max-width: 952px) {
  .hero-section {
    flex-direction: row;
    gap: 24px;
    padding: 24px 0 16px 0;
    align-items: center;
    background: #f2f0f1;
  }
  .hero-section-content {
    margin-left: 0;
    text-align: center;
    width: 100%;
    padding: 0 1.2rem;
  }
  .hero-section-title {
    font-size: 36px;
    line-height: 34px;
    letter-spacing: 0%;
    max-width: 400px;
    margin-left: 0%;
    height: 93px;
  }
  .hero-section-desc {
    font-size: 1rem;
    line-height: 1.5rem;
    max-width: 80%;
    margin-bottom: 1.2rem;
  }
  .hero-section-cta {
    width: 40%;
    font-size: 1rem;
    padding: 0.8rem 0;
    margin-bottom: 1.5rem;
    margin-left: -20%;
  }
  .hero-section-stats {
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    font-size: 0.95rem;
  }
  .hero-section-stats span {
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 700;
    padding: 0 10px;
    border-right: 1px solid #0000001e;
    color: #000000;
  }
  .hero-section-image img {
    width: 90vw;
    max-width: 320px;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 18px;
  }

  .hero-section .mini-image img {
    position: absolute;
    width: 76px;
    height: 76px;
    top: 150px;
    left: 810px;
  }
  .hero-section .small-image img {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 320px;
    left: 500px;
  }
}

@media (max-width: 860px) {
  .hero-section {
    flex-direction: column;
  }
  .hero-section {
    padding: 12px 0 8px 0;
    gap: 8px;
  }
  .hero-section-title {
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    max-width: 600px;
    margin-left: 0%;
    height: 93px;
  }
  .hero-section-desc {
    font-size: 0.9rem;
    line-height: 1.2rem;
    max-width: 600px;
  }
  .hero-section-cta {
    font-size: 0.95rem;
    padding: 0.6rem 0;
    width: 658px;
    height: 52px;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 0%;
  }
  .hero-section-stats {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    gap: 3rem;
  }
  .hero-section-stats span {
    font-size: 32px;
  }
  .hero-section-image img {
    width: 100vw;
    max-width: 350px;
    margin: 0 auto;
  }
  .hero-section .mini-image img {
    position: absolute;
    width: 86px;
    height: 86px;
    top: 430px;
    left: 530px;
  }
  .hero-section .small-image img {
    position: absolute;
    width: 54px;
    height: 54px;
    top: 650px;
    left: 150px;
  }
}
@media (max-width: 540px) {
  .hero-section {
    flex-direction: column;
  }
  .hero-section-title {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0%;
    max-width: 315px;
    height: 93px;
  }
  .hero-section-cta {
    font-size: 0.95rem;
    padding: 0.6rem 0;
    width: 358px;
    height: 52px;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 0;
  }
  .hero-section-stats span {
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 700;
    padding: 0 5px;
    border-right: 1px solid #0000001e;
    color: #000000;
  }
  .hero-section-image img {
    width: 98vw;
    max-width: 250px;
    margin: 0 auto;
    margin-bottom: -9%;
  }
  .hero-section .mini-image img {
    position: absolute;
    width: 76px;
    height: 76px;
    top: 430px;
    left: 340px;
  }
  .hero-section .small-image img {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 601px;
    left: 100px;
  }
  .hero-section-stats {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    font-size: 16px;
    color: #0000006c;
    line-height: 22px;
    letter-spacing: 0%;
    font-weight: 400;
  }
}
@media (max-width: 440px) {
  .hero-section {
    flex-direction: column;
  }
  .hero-section-title {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0%;
    margin-left: 0;
    max-width: 315px;
    height: 93px;
  }
  .hero-section-stats span {
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 700;
    padding: 0 5px;
    border-right: 1px solid #0000001e;
    color: #000000;
  }
  .hero-section-image img {
    width: 98vw;
    max-width: 250px;
    margin: 0 auto;
    margin-bottom: -9%;
  }
  .hero-section .mini-image img {
    position: absolute;
    width: 76px;
    height: 76px;
    top: 500px;
    left: 302px;
  }
  .hero-section .small-image img {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 621px;
    left: 27px;
  }
  .hero-section-stats {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    font-size: 16px;
    color: #0000006c;
    line-height: 22px;
    letter-spacing: 0%;
    font-weight: 400;
  }
}
