.product-section {
  margin: 0 auto;
  padding: 48px 0 0 0;
}
.product-section-title {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 2rem;
  text-align: center;
  letter-spacing: 0%;
  line-height: 100%;
}
.product-section-product-list {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}
.product-section-product-card {
  background: #f0eeed;
  border-radius: 18px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.04);
  padding: 1.5rem 1.2rem;
  width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 320px;
}
.product-section-product-card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 1rem;
  object-fit: contain;
  max-height: 100%;
}
.product-section-product-name {
  font-weight: 700;
  margin-bottom: 0.2rem;
  color: #000000;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
.product-section-product-price {
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}
.product-view-all {
  display: block;
  margin: 2rem auto 0 auto;
  background: transparent;
  color: #000000;
  border: none;
  border-radius: 62px;
  padding: 0.7rem 2.2rem;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.product-view-all:hover {
  background: #00000010;
}
.product-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-section-product-info {
  margin-top: 0.7rem;
  text-align: start;
}

.product-section-product-stars {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 2px;
  margin: 0.7rem 0 0.2rem 0;
}
.product-section-main-price {
  text-decoration: line-through;
  color: #00000041;
  margin-right: 1rem;
  margin-left: 0.7rem;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.product-section-discount-badge {
  display: inline-block;
  background: #ff333310;
  color: #ff3333;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 1em 0.9em;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.product-section-discounted-price {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
@media (max-width: 900px) {
  .product-section-product-list {
    gap: 2rem;
  }
  .product-section-product-card {
    width: 300px;
    padding: 1rem 0.7rem;
  }
}
@media (max-width: 550px) {
  .product-section-product-list {
    flex-direction: column;
    align-items: center;
  }
  .product-section-product-card {
    width: 95vw;
    max-width: 340px;
    min-width: 220px;
  }
}
@media (max-width: 430px) {
  .product-section-product-card {
    width: 80vw;
    max-width: 320px;
    min-width: 280px;
  }
}
